:root {
	--web-view-ids: Landing_-_SimpleBlocks;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.main {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	background-color: rgba(222,228,231,1);

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.logo {
	position: relative;
	margin-top: 80px;
	overflow: visible;
}

.logo svg {
	max-width: 400px;
	width: 90%;
}


.main-title {
	max-width: 1164px;
	line-height: 1.1;
	margin-top: -9px;
	text-align: center;
	font-family: Sofia Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	color: rgba(0,0,0,1);
}
.arriving-soon {
	max-width: 542px;
	white-space: nowrap;
	text-align: center;
	font-family: Sofia Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(247,119,145,1);
}
.all-rights-reserved {
	position: relative;
	margin-bottom: 90px;
	max-width: 629px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}